<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
  
 <!-- - Run AMCL  -->
   <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->
  <!-- <include file="$(find zed_wrapper)/launch/zedm.launch">
  </include> -->

  <!-- <include file="$(find transformation_testing)/launch/transformation.launch">
  </include> -->

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navigation_stack)/params/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find navigation_stack)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_stack)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_stack)/params/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find navigation_stack)/params/base_local_planner_params.yaml" command="load" />
	
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
  </node>

</launch> 

